* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
}

.article-item {
  &:hover {
    .article-item__img {
      transform: scale(1.1);
      filter: brightness(1);
    }
  }

  .img-block {
    overflow: hidden;
    height: 250px;
  }

  &__img {
    object-fit: cover;
    object-position: top;
    transition: all 0.55s ease;
    filter: brightness(0.8);
  }

  &__name {
    @include webkitBox(3);
  }

  &__desc {
    height: calc(8 * 16px);
    line-height: 1.2;
    overflow-y: scroll;
  }

  &__control {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.tag {
  &__list {
    padding-left: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__item {
    padding: 2px 6px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
  }
}
