<div
  style='width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;'>
  <img class='d' src='/img/not_found.jpg' />
  <h1 style="font-family: sans-serif;">Không tìm thấy trang này</h1>
</div>