<header class='header'>
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
      <div class='d-flex gap-5'>
        <a class='navbar-brand' href='/'>thanhcanhit.github.io</a>
        <form class='d-flex w-100' action='/search' method='GET'>
          <div class='input-group'>
            <input
              tabindex="1"
              value="{{searchQuery}}"
              {{#if searchQuery}}
                autofocus
              {{/if}}
              class='form-control'
              type='search'
              placeholder='Tên bài viết...'
              aria-label='Search'
              name='searchQuery'
            />
            <button
              class='btn btn-outline-secondary'
              style='white-space: nowrap;'
              type='submit'
            >
              🔍
            </button>
          </div>
        </form>
      </div>
      <div class='dropdown'>
        <button
          class='btn dropdown-toggle user'
          type='button'
          data-bs-toggle='dropdown'
        >
          <img class='user__avatar' src='/img/avatar.jpg' />
          <span class='user__name'>Thanh Cảnh</span>
        </button>
        <ul class='dropdown-menu'>
          <li><a class='dropdown-item' href='/articles/create'>Thêm bài viết</a></li>
          <li><hr class='dropdown-divider' /></li>
          <li><a class='dropdown-item' href='/articles'>Quản lí bài viết</a></li>
          <li><a class='dropdown-item' href='/articles/trash'>Bài viết đã xóa</a></li>
          <li><hr class='dropdown-divider' /></li>
          <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>