<header class="header">
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
      <a class='navbar-brand' href='/'>thanhcanhit.github.io</a>
      <div class='dropdown'>
        <button
          class='btn dropdown-toggle user'
          type='button'
          data-bs-toggle='dropdown'
        >
          <img class='user__avatar' src='/img/avatar.jpg' />
          <span class='user__name'>Thanh Cảnh</span>
        </button>
        <ul class='dropdown-menu'>
          <li><a class='dropdown-item' href='/articles/create'>Thêm bài viết</a></li>
          <li><hr class='dropdown-divider' /></li>
          <li><a class='dropdown-item' href='/articles'>Quản lí bài viết</a></li>
          <li><hr class='dropdown-divider' /></li>
          <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>