<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container'>
    <a class='navbar-brand' href='/'>thanhcanhit.github.io</a>
    <div class='dropdown'>
      <button
        class='btn btn-primary dropdown-toggle'
        type='button'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        Dropdown button
      </button>
      <ul class='dropdown-menu'>
        <li><a class='dropdown-item' href='#'>Action</a></li>
        <li><a class='dropdown-item' href='#'>Another action</a></li>
        <li><a class='dropdown-item' href='#'>Something else here</a></li>
      </ul>
    </div>
  </div>
</nav>